<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
<!-- <center>
        <h1>
            JINJA OPERATIONAL TAGS USING WITH SIMPLE IF STATEMENT
        </h1>
        {% if age > 20 %} 
                 <h1>age of the student is {{age}}</h1>
        {% endif %}
      </center>
-->
<!--
<center>
        <h1>JINJA OPERATIONAL TAGS BY USING IF ELSE CONDITION</h1>
        {% if age > 18 %}
             <h1>age {{age}} is greater than 18 so Eligible for Voting </h1>
        {% else %}
        <h1>NOT eligible for voting</h1>
        {% endif %}
    </center>
-->

<!--
<center>
           <h1>JINJA OPERATIONAL TAGS BY USING ELIF CONDITION</h1>
           {% if marks > 90 %}
                <h1>GRADE A BECAUSE MARKS ARE {{marks}}</h1>
           {% elif marks > 80 and marks <= 9o %}
                <h1>GRADE B BECAUSE MARKS ARE {{marks}} </h1>
           {% elif marks > 70 and marks <= 80 %}
                <h1>GRADE B BECAUSE MARKS ARE {{marks}} </h1>
            {% else %}
                <h1>FAIL MARKS ARE {{marks}}</h1>
            {% endif %}
-->


<center>
    <h1>JINJA OPERATIONAL TAGS BY USING NESTED IF ELSE CONDITION</h1>
    {% if a > b %}
         {% if a > c %}
              <h1>A is greater A value is {{a}}</h1>
         {% else %}
              <h1>c is greater c value is {{c}}h1>
        {% endif %}
    {% else %}
           {% if b > c %}
               <h1>B is greter B value is {{b}}</h1>
            {% else %}
               <h1>C is greater C value is {{c}}</h1>
               {% endif %}
    {% endif %}

</center>

            
</center>
</body>
</html>



